.logo {
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

hr {
  color: #999;
  margin-block: 1.5rem;
  opacity: 0.2;
}

.btn {
  display: inline-flex;
  width: fit-content;
  padding: 0.5em 1em;
  background-color: darkgreen;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 1rem;

  &:hover,
  &:active {
    background-color: green;
  }

  &[disabled] {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.8;
  }
}

.user-list {
}

.user-card {
}
