.logo {
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

hr {
  color: #999;
  margin-block: 1.5rem;
  opacity: 0.2;
}

.btn {
  display: inline-flex;
  width: fit-content;
  padding: 0.5em 1em;
  background-color: #ccc;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.user-list {
}

.user-card {
}
